<div class="flex">
  <!-- SIDEBAR -->
  <aside class="fixed top-0 left-0 h-screen w-64 bg-gray-100 border-r border-gray-300 flex flex-col justify-between">
    <div>
      <div class="p-4 text-xl font-bold text-blue-600">
        <a routerLink="/admin">Dashboard Panel</a>
      </div>

      <nav class="p-2 space-y-1">
        @for (item of navItems; track item.to) {
          <!-- Check if currentUrl includes the item's path to apply active classes -->
          <a [routerLink]="item.to"
             [class.bg-blue-600]="currentUrl().includes(item.to)"
             [class.text-white]="currentUrl().includes(item.to)"
             [class.border-blue-600]="currentUrl().includes(item.to)"
             [class.border-transparent]="!currentUrl().includes(item.to)"
             class="p-3 rounded-lg transition-all duration-200 flex items-center gap-2 border-l-4 hover:bg-blue-100 hover:border-blue-400">
            {{ item.label }}
          </a>
        }
      </nav>
    </div>

    <button (click)="handleLogOut()"
      class="m-4 flex items-center gap-2 p-3 rounded-lg text-red-600 hover:bg-red-300 hover:text-red-900 transition-colors font-medium">
      Log Out
    </button>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="flex-1 ml-64 min-h-screen">
    <!-- your routed content -->
  </main>
</div>